.identity {
  display: flex;
  gap: 2rem;
  margin: 2.5rem;
  border-radius: 5px;
  background-color: var(--ct-c-bg-soft);
  padding: 2.5rem;
}

.image-container {
  padding: 0.25rem;
  border: 1px solid var(--ct-c-border);
  width: 7.5rem;
  height: 7.5rem;
  border-radius: 50%;
}

.image {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--ct-c-bg-soft);
}

.info {
  display: flex;
  flex-direction: column;
}

.text {
  margin: 0.25rem 0;
}
