.select-container {
  display: flex;
  position: relative;
  align-items: center;
  color: var(--ct-c-font);
  flex: 1;
}

.select {
  cursor: pointer;
  appearance: none;
  font-size: 1rem;
  border-radius: 5px;
  width: 100%;
  border: 1px solid var(--ct-c-border);
  background-color: var(--ct-c-bg);
  color: var(--ct-c-font);
  padding: 0.25rem;
  transition: background-color 0.15s ease, border-color 0.15s ease;
  outline: none;
}

.select:focus {
  border-color: var(--ct-c-primary);
}

.prefix {
  position: absolute;
  display: inline-flex;
  left: 1rem;
}

.suffix {
  position: absolute;
  display: inline-flex;
  right: 0.65rem;
  width: 0.95rem;
}
