{
  "presets": ["next/babel"],
  "plugins": [
    [
      "prismjs",
      {
        "languages": ["javascript", "csharp", "ruby", "go", "java", "python"],
        "plugins": ["autolinker"],
        "css": false
      }
    ]
  ]
}
