.button-skeleton {
  width: fit-content;
  display: inline-block;
  position: relative;
}

.button {
  display: flex;
  align-items: center;
  gap: 5px;

  cursor: pointer;

  box-sizing: border-box;

  border-radius: 5px;
  font-weight: 400;
  font-size: 1rem;

  transition-property: background-color, border-color;
  transition-duration: 0.15s;
  transition-timing-function: ease;

  width: 100%;
}

.button-prefix {
  display: flex;
  box-sizing: border-box;
}

.button-content {
  width: 100%;
  line-height: normal;
  display: inline-block;
}
