.length {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: flex-start;
}

.slider-value {
  margin: 0; 
}

.toggle {
  display: flex;
  align-items: center;
  gap: 0.35rem;
}

.controls {
  display: flex;
  justify-content:flex-start;
  gap: 2.5rem;
}

.pass-header {
  margin: 2.5rem 0;
}

.password {
  font-size: 3.5rem;
  font-family: "IBM Plex Mono";
  margin: 0 auto;
  word-wrap: break-word;
  max-width: 100%;
}
