.text-skeleton
{
  display: inline;
  position: relative;
}

.text {
  box-sizing: border-box;

  border-radius: 5px; 
  outline: none;
  resize: none;
  appearance: none;

  background-color: unset;

  transition: border-color 0.5s ease, background-color 0.5s ease, color 0.5s ease;

  font-family: unset;
  font-size: 1rem;
  
  width: 100%;
  height: auto;
}

.label {
  margin-bottom: 0.25rem;
  display: inline-block;
}
