.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: var(--header-height);
  background-color: var(--ct-c-bg);
  border-top: 1px solid var(--ct-c-divider);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.25s ease, color 0.25s ease;
  gap: 1.5rem;
  padding: 0 1rem;
}

.text {
  font-size: 1.15rem;
}

.coffee {
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 600px) {
  .text {
    font-size: 0.8125rem;
  }
}
