@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400 500 700;
  font-display: optional;
  src: url(/fonts/inter-latin.woff2) format('woff2');
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  font-family: var(--ct-font-family);
  letter-spacing: 0.2px;
  font-size: 16px;
  font-weight: 400;
  color: var(--ct-c-font);
  background-color: var(--ct-c-bg);
  text-rendering: optimizeLegibility;
  transition: color 0.25s ease, background-color 0.25s ease;
}

:root {
  --header-height: 4rem;
  --footer-height: 4rem;

  --ct-font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  --ct-mono-font-family: Menlo, Monaco, Consolas, 'Courier New', monospace;

  --ct-c-primary: #fb2576;

  --ct-c-white: #ffffff;
  --ct-c-white-soft: #f9f9f9;
  --ct-c-white-mute: #f1f1f1;
  --ct-c-black: #1a1a1a;
  --ct-c-black-pure: #000000;
  --ct-c-black-soft: #242424;
  --ct-c-black-mute: #2f2f2f;
  --ct-c-indigo: #213547;
  --ct-c-indigo-soft: #476582;
  --ct-c-indigo-light: #aac8e4;
  --ct-c-gray: #8e8e8e;
  --ct-c-gray-light-1: #aeaeae;
  --ct-c-gray-light-2: #c7c7c7;
  --ct-c-gray-light-3: #d1d1d1;
  --ct-c-gray-light-4: #e5e5e5;
  --ct-c-gray-light-5: #f2f2f2;
  --ct-c-gray-dark-1: #636363;
  --ct-c-gray-dark-2: #484848;
  --ct-c-gray-dark-3: #3a3a3a;
  --ct-c-gray-dark-4: #282828;
  --ct-c-gray-dark-5: #202020;
  --ct-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --ct-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --ct-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --ct-c-divider-dark-2: rgba(84, 84, 84, 0.48);
  --ct-c-text-light-1: var(--ct-c-indigo);
  --ct-c-text-light-2: rgba(60, 60, 60, 0.7);
  --ct-c-text-light-3: rgba(60, 60, 60, 0.33);
  --ct-c-text-light-4: rgba(60, 60, 60, 0.18);
  --ct-c-text-light-code: var(--ct-c-indigo-soft);
  --ct-c-text-dark-1: rgba(255, 255, 255, 0.87);
  --ct-c-text-dark-2: rgba(235, 235, 235, 0.6);
  --ct-c-text-dark-3: rgba(235, 235, 235, 0.38);
  --ct-c-text-dark-4: rgba(235, 235, 235, 0.18);
  --ct-c-text-dark-code: var(--ct-c-indigo-light);
  --ct-c-green: #42b883;
  --ct-c-green-light: #42d392;
  --ct-c-green-lighter: #35eb9a;
  --ct-c-green-dark: #33a06f;
  --ct-c-green-darker: #155f3e;
  --ct-c-blue: #3b8eed;
  --ct-c-blue-light: #549ced;
  --ct-c-blue-lighter: #50a2ff;
  --ct-c-blue-dark: #3468a3;
  --ct-c-blue-darker: #255489;
  --ct-c-yellow: #ffc517;
  --ct-c-yellow-light: #ffe417;
  --ct-c-yellow-lighter: #ffff17;
  --ct-c-yellow-dark: #e0ad15;
  --ct-c-yellow-darker: #bc9112;
  --ct-c-red: #ed3c50;
  --ct-c-red-light: #f43771;
  --ct-c-red-lighter: #fd1d7c;
  --ct-c-red-dark: #cd2d3f;
  --ct-c-red-darker: #ab2131;
  --ct-c-purple: #de41e0;
  --ct-c-purple-light: #e936eb;
  --ct-c-purple-lighter: #f616f8;
  --ct-c-purple-dark: #823c83;
  --ct-c-purple-darker: #602960;

  --ct-c-code-fg: #a6accd;
  --ct-c-code-comments: #676e95;
  --ct-c-code-red: #ff5370;
  --ct-c-code-orange: #f78c6c;
  --ct-c-code-yellow: #ffcb6b;
  --ct-c-code-green: #c3e88d;
  --ct-c-code-cyan: #89ddff;
  --ct-c-code-blue: #82aaff;
  --ct-c-code-paleblue: #b2ccd6;
  --ct-c-code-purple: #c792ea;
  --ct-c-code-brown: #c17e70;
  --ct-c-code-pink: #f07178;
  --ct-c-code-violet: #bb80b3;
}

:root {
  --ct-c-bg: var(--ct-c-white);
  --ct-c-code-bg: #292d3e;
  --ct-c-code-bg-highlight: #343848;
  --ct-c-bg-mute: var(--ct-c-white-mute);
  --ct-c-bg-soft: var(--ct-c-white-soft);
  --ct-c-font: var(--ct-c-black-soft);
  --ct-c-font-mute: var(--ct-c-black-mute);
  --ct-c-divider: var(--ct-c-divider-light-2);
  --ct-c-border: var(--ct-c-gray-light-1);
  --ct-c-primary-hover: #e6055b;
  --ct-c-button: var(--ct-c-gray-light-3);
  --ct-c-button-hover: var(--ct-c-gray-light-2);
  --ct-c-button-font: var(--ct-c-black-soft);
}

.dark {
  --ct-c-bg: var(--ct-c-black-pure);
  --ct-c-bg-mute: var(--ct-c-black-mute);
  --ct-c-bg-soft: var(--ct-c-black-soft);
  --ct-c-code-bg: var(--ct-c-bg-soft);
  --ct-c-code-bg-highlight: #2f2f2f;
  --ct-c-font: var(--ct-c-white-soft);
  --ct-c-font-mute: var(--ct-c-white-mute);
  --ct-c-divider: var(--ct-c-divider-dark-2);
  --ct-c-border: var(--ct-c-gray-dark-1);
  --ct-c-primary-hover: #fc5595;
  --ct-c-button: var(--ct-c-gray-dark-4);
  --ct-c-button-hover: var(--ct-c-gray-dark-3);
  --ct-c-button-font: var(--ct-c-white-soft);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-variant-ligatures: none;
}

h1 {
  display: block;
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
h2 {
  display: block;
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
h3 {
  display: block;
  font-size: 1.17em;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
h4 {
  display: block;
  margin-top: 1.33em;
  margin-bottom: 1.33em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
h5 {
  display: block;
  font-size: 0.83em;
  margin-top: 1.67em;
  margin-bottom: 1.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
h6 {
  display: block;
  font-size: 0.67em;
  margin-top: 2.33em;
  margin-bottom: 2.33em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

table {
  border: 1px solid var(--ct-c-border);
  border-collapse: separate;
  border-left: 0;
  border-radius: 5px;
  border-spacing: 0px;
  color: var(--ct-c-font);
  margin: 1rem 0;
}

thead {
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
  border-collapse: separate;
}

tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}

th,
td {
  padding: 0.5rem 0.4rem 0.6rem 0.4rem;
  text-align: left;
  vertical-align: top;
  border-left: 1px solid var(--ct-c-border);
}

td {
  border-top: 1px solid var(--ct-c-border);
}

thead:first-child tr:first-child th:first-child,
tbody:first-child tr:first-child td:first-child {
  border-radius: 5px 0 0 0;
}

thead:last-child tr:last-child th:first-child,
tbody:last-child tr:last-child td:first-child {
  border-radius: 0 0 0 5px;
}

code,
pre {
  font-family: var(--ct-mono-font-family);
}
