code[class*='language-'],
pre[class*='language-'] {
  font-family: var(--ct-mono-font-family);
  color: var(--ct-c-code-fg);
  background: none;
  font-size: 0.85rem;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;

  padding: 0;
  margin: 0;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

pre[class*='language-'] {
  padding: 1rem;
  overflow: auto;
}

:not(pre) > code[class*='language-'] {
  padding: 0.1rem;
  white-space: normal;
}

.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: var(--ct-c-code-comments);
}

.token.attr-name,
.token.namespace,
.token.deleted {
  color: var(--ct-c-code-violet);
}

.token.function,
.token.function-name {
  color: var(--ct-c-code-blue);
}

.token.unit,
.token.url,
.token.boolean,
.token.number {
  color: var(--ct-c-code-orange);
}

.token.color,
.token.hexcode,
.token.builtin,
.token.property,
.token.class,
.token.class-name,
.token.constant,
.token.symbol {
  color: var(--ct-c-code-yellow);
}

.token.id,
.token.selector,
.token.important,
.token.atrule,
.token.keyword {
  color: var(--ct-c-code-purple);
}

.token.pseudo-class,
.token.pseudo-element,
.token.inserted,
.token.attribute,
.token.string,
.token.char,
.token.attr-value,
.token.regex,
.token.variable {
  color: var(--ct-c-code-green);
}

.token.punctuation,
.token.operator,
.token.entity,
.token.url {
  color: var(--ct-c-code-cyan);
}

.token.tag {
  color: var(--ct-c-code-pink);
}

.token.parameter,
.token.deleted {
  color: var(--ct-c-code-red);
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}
